email/
hook/

ascii/bin/
ascii/obj/

cat/bin/
cat/obj/

cmdcalc/bin/
cmdcalc/obj/

cs/bin/
cs/obj/

dirserver/bin/
dirserver/obj/

file/bin/
file/obj/

htmlserver/bin/
htmlserver/obj/

ls/bin/
ls/obj/

md/bin/
md/obj/

polycalc/bin/
polycalc/obj/

strconvert/bin/
strconvert/obj/

wallet/bin/
wallet/obj/
